.login-auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}
.login-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  min-height: 60vh;
}

input {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: left;
  
}

.reg-link{
  text-decoration:underline;
  padding: 5px;
  color: #151516;
  font-weight: 500;
}
.p-login{
  padding: 10px;
}

.p-errlog{
  display: flex;
  margin-bottom: 10px;
  color: red;
  justify-content: center;
  justify-items: center;
  background-color: #fcedfc;
}
.r-p{
  padding: 0;
}
.h2-login{
  text-align: center;
  padding-bottom: 40px;
}
